
@{
    ViewData["Title"] = "ViewMessages";
}

@* <h1>ViewMessages</h1> *@


@if (TempData["msg1"] != null)
{
    <div class="alert alert-info">@TempData["msg1"]</div>
}

<a href="@Url.Action("Login", "Account")">Go to Login</a>


